<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devive-width, initial-scale=1.0">
    <meta http-equiv="U-XA-Compatible" content="IE-Edge">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <title>Battleships</title>
  </head>
  <body>
    <div class="container">
      <h1>Select room</h1>
        <ul class="room_list">
      {% if rooms %}
        {% for room in rooms %}
        <li>
          <form action="{{ url_for('game', room=room.name) }}" method="POST">
            <a href="">{{room.name}}</a>
            <input type="text" name="player_name" placeholder="Player name" required>
            <button class="btn btn-primary" type="submit">Enter</button>
          </form>
        </li>
        {% endfor %}
      {% endif %}
      </ul>

      <h1>New room</h1>
      <input type="text" name="new_room_name" placeholder="room name" required>
      <button type="submit" class="btn btn-primary" id="room_button">Create room</button>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/rooms.js') }}" type="text/javascript"></script>
    {{ JSGlue.include() }}
  </body>
</html>
